	html, body, blockquote, p, h1, h2, h3, h4, h5, h6, pre, ul, ol, li, dl, dt, dd, form, fieldset, input, textarea {
		margin: 0; padding: 0;
		outline: none;
	}
	ul, ol, li {
		list-style-type: none;
	}
	/* HTML5 tags */
	header, section, figure, figcaption, article, nav, aside, footer {
		margin: 0; padding: 0;
		display: block;
		outline: none;
	}

	img {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		pointer-events: none;
		user-select: none;
	}

	html,body { height: 100%; }

	body {
		/*font-family: 'Arial', sans-serif;*/
		font-family: 'Open Sans', serif;
	}

	::-webkit-scrollbar{ height: 14px; width: 10px; background: #eee; border-left: 1px solid #ddd; }
	::-webkit-scrollbar-thumb{ background: #ddd; border: 1px solid #cfcfcf; }
	::-webkit-scrollbar-thumb:hover{ background: #b2b2b2; border: 1px solid #b2b2b2; }
	::-webkit-scrollbar-thumb:active{ background: #b2b2b2; border: 1px solid #b2b2b2; }

	#heading {
		font-weight: normal;
		text-align: center;
		font-size: 7vh;
		line-height: 17vh;
	}
	#container {
		border-radius: 10px 10px 10px 10px;
		-moz-border-radius: 10px 10px 10px 10px;
		-webkit-border-radius: 10px 10px 10px 10px;
		overflow: hidden;
		border: 1px solid #333333;
		width: 90vw; height: 70vh;
		margin: 0 auto;
	}
	#image-box {
		background: #34495E url( '../images/placeholder.png' ) center center no-repeat;
		width: 54vw; height: 70vh;
		float: left;
	}
	#chat-box {
		width: 36vw; height: 70vh;
		float: left;
	}
	#title-box {
		height: 6vh; width: 100%;
		font-weight: normal;
		background: #2980B9;
		text-align: center;
		text-indent: 10px;
		line-height: 6vh;
		font-size: 2.3vh;
		color: #ffffff;
	}
	#messages {
		overflow-x: hidden;
		overflow-y: scroll;
		padding: 3vh 0;
		height: 53vh;
	}
	#write {
		width: 100%; height: 5vh;
		position: relative;
		background: #eee;
	}
	div.message {
		padding: 0 1% 20px 1%;
		overflow: hidden;
		clear: both;
	}
	img.avatar {
		width: 4vw; height: auto;
	}
	div.you img.avatar { float: right; }
	div.me img.avatar { float: left; }
	div.me { float: left; }

	div.you div.text {
		-webkit-box-shadow: -1px 2px 1px 1px rgba(217,217,217,0.54);
		-moz-box-shadow: -1px 2px 1px 1px rgba(217,217,217,0.54);
		box-shadow: -1px 2px 1px 1px rgba(217,217,217,0.54);
		max-width: 65% !important;
		background: #EBF8FC;
		color: #146D87;
		float: right;
	}
	div.me div.text {
		-webkit-box-shadow: 1px 2px 1px 1px rgba(217,217,217,0.54);
		-moz-box-shadow: 1px 2px 1px 1px rgba(217,217,217,0.54);
		box-shadow: 1px 2px 1px 1px rgba(217,217,217,0.54);
		background: #FEFFE8;
		color: #5C500A;
		float: left;
	}

	div.text {
		border-radius: 10px 10px 10px 10px;
		-moz-border-radius: 10px 10px 10px 10px;
		-webkit-border-radius: 10px 10px 10px 10px;
		border-top: 1px solid #eee;
		font-size: 16px;
		max-width: 75%;
		margin: 0 15px;
		padding: 15px;
	}
	#input:active, #input:focus {
		border: 0;
	}
	#input {
		-webkit-box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.5);
		-moz-box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.5);
		box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.5);
		position: absolute;
		left: 0; bottom: 0;
		width: 81%; height: 5vh;
		padding: 0 2%;
		font-family: 'Arial';
		background: #fff;
		line-height: 5vh;
		font-size: 15px;
		/*text-indent: 1vw;*/
		overflow: hidden;
		resize: none;
		border: 0;
	}
	#submit {
		width: 15%; height: 5vh;
		font-family: 'Arial';
		background: #2980B9;
		vertical-align: top;
		font-weight: bold;
		line-height: 5vh;
		cursor: pointer;
		color: #ffffff;
		float: right;
		padding: 0;
		margin: 0;
		border: 0;
	}

	em#welcome { margin: 0 0 20px 20px; display: block; clear: both; }